body{
	background: url(https://wallpaperbat.com/down/456070-free-download-desktop-background-education-desktop-wallpaper-1600x1200-for-your-desktop-mobile-tablet-explore-teaching-wallpaper-teaching-wallpaper-teaching-background-wallpaper-teaching) no-repeat center center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
